<!DOCTYPE html>
<head>
    <title>twitter clone</title>
    <link rel="stylesheet" href="/resources/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/resources/css/styles.css" />
    <script type="text/javascript" src="/resources/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/resources/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <nav>
        <a href="/logout">Logout</a>
        <a href="/account">Account</a>
        <!-- a href="/subscriptions">Manage Subscriptions</a -->
        <a href="/newpost">New post</a>
    </nav>
    <h1>Welcome, $user.getFirstname() $user.getLastname()</h1>
    
    <input id="search"
           type="text"
           name="search"
           placeholder="Search for users!"/>
    <button id="search-submit">Submit</button>
    #if($posts.size())
    <ul>
        #foreach($post in $posts)
        <li>$post.getPostBody()</li>
        #end
    </ul>
    #else
    <p>There are no new posts to display</p>
    #end
</body>
