<!DOCTYPE html>
<head>
    <title>Login to your account</title>
    <link rel="stylesheet" href="$_context/resources/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="$_context/resources/css/styles.css" />
    <script type="text/javascript" src="$_context/resources/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="$_context/resources/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Login page</h1>
    <form id="login-form" method="POST" action="$_context/login">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" />
        <br/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
        <br/>
        <button type="submit">Login</button>
        #if($error)
        <div id="login-errors--container">
            <h3>$error</h3>
        </div>
        #end
    </form>
    <h2>Don't have an account yet?</h2>
    <a href="$_context/registration">Register here!</a>
</body>