<!DOCTYPE html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" href="/resources/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/resources/css/styles.css" />
    <script type="text/javascript" src="/resources/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/resources/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/resources/js/register.js"></script>
</head>
<body>
    <h1>Register for a new account!</h1>
    
    <form method="POST" action="/registration">
        <label for="firstname">First name:</label>
        <input type="text" id="firstname" name="firstname" required/>
        <br/>
        <lable for="lastname">Last name:</lable>
        <input type="text" id="lastname" name="lastname" required/>
        <br/>
        <label for="username">Email:</label>
        <input type="email" id="username" name="username" required/>
        <br/>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" 
               required
               pattern=".{5,}"
               title="Passwords must be a minimum of 5 characters"/>
        <br/>
        <button id="submit-btn" type="submit">Register</button>
    </form>
    #if($error)
    <div id="registration-errors--container">
        <h3>$error</h3>
    </div>
    #end
</body>