<!DOCTYPE html>
<head>
    <title>twitter clone</title>
    <link rel="stylesheet" href="/resources/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/resource/css/styles.css" />
    <script type="text/javascript" src="/resources/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/resources/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Welcome, dude</h1>
</body>
